@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.container{
  display: flex;
  flex-direction: column;
height: 200px;
}
.container h1{
  text-align: center;
}
.faq{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:40px;
  margin: 10px;
  height: 10px;
  text-align: center;
  justify-content: center;
  border: 2px solid rgb(255, 255, 255);
}