@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
background-color: rgb(236, 193, 53);
background-image: linear-gradient(0deg, rgba(195,195,34,1) 2%, rgba(161,123,41,1) 100%);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav{
    background-color: rgb(221, 221, 230);
    padding: 20px;
    display: flex;
    

    
}