
* {
  box-sizing: border-box;
}

body {
    background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
@media(max-width:800px){
    body{
        flex-direction: column;
    }
}
.empty{
    background-color: white;
    height: 150px;
    width: 150px;
    border: solid 3px black;
    margin: 10px;
    border-radius: 5px;
}
.fill{
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width:145px;
    cursor:pointer;

}
.hold{
    border: solid 5pz #cccc;
}
.hovered{
    border-style:dashed;
    background-color: #333;
}